<!DOCTYPE html>
<html>
  <head>
    <title>DiscipulosDoPato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{alert_key(key)} alert-hide", role: 'alert' %>
    <% end %>

    <%= render 'layouts/modal' %>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
